<div>
	<div class="page-header">
		<div class="row">                                                                                                        
			<div class="col-xs-6">                                                                                                 
				<h1>Top 10 Pokémons</h1>                                  
			</div> 
		</div>                                                                                                                   
		<hr>
		<!-- <div class="row" ng-repeat="group in groupped">
			<div class="col-lg-3" ng-repeat="pokemon in group">
				<pokemon-card></pokemon-card>
			</div>
		</div> -->
	</div>
</div>